html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Forum', cursive;
  color: #614742;
}
.main{
  background-color: #EAE6DF;
  color: #614742;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
